* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 166, 166);
    color: rgb(10, 10, 10);
    padding: 0 20px;
}

.wrapper {
    max-width: 500px;
    margin: 100px auto;
}

.title {
    margin-bottom: 30px;
}

.search__input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search__autocom {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search__autocom-active {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;

}

.search__item {
    text-decoration: none;
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.search__item:hover,
.search__item:focus {
    background: #efefef;
}

.repositories {
    margin-top: 50px;
}

.repositories__repository {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 15px;
    box-shadow: 0px 2px 1px 2px #efefef
}

.repositories__btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.repositories__btn::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 80 80' style='enable-background:new 0 0 80 80;' xml:space='preserve' width='80' height='80'%3E%3Cg%3E%3Cpolygon style='fill:%23F78F8F;' points='40,49.007 15.714,73.293 6.707,64.286 30.993,40 6.707,15.714 15.714,6.707 40,30.993 64.286,6.707 73.293,15.714 49.007,40 73.293,64.286 64.286,73.293 '/%3E%3Cpath style='fill:%23C74343;' d='M15.714,7.414l23.578,23.578L40,31.7l0.707-0.707L64.286,7.414l8.3,8.3L49.007,39.293L48.3,40 l0.707,0.707l23.578,23.579l-8.3,8.3L40.707,49.007L40,48.3l-0.707,0.707L15.714,72.586l-8.3-8.3l23.579-23.579L31.7,40 l-0.707-0.707L7.414,15.714L15.714,7.414 M64.286,6L40,30.286L15.714,6L6,15.714L30.286,40L6,64.286L15.714,74L40,49.714L64.286,74 L74,64.286L49.714,40L74,15.714L64.286,6L64.286,6z'/%3E%3C/g%3E%3C/svg%3E");
    height: 50px;
    width: 50px;
}